<!DOCTYPE html>
<html lang=en>
  <head>
    <title>Peninsula Church In Christ</title>
    <link href="/css/lavish-bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
<body>
<div class="container">
  <h1>Peninsula Church In Christ</h1>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <form action="/" method="get" class="form-search btn:hover btn:active">
    <input type="text" name="query" />
    <input type="submit" value="Search" class="btn btn-primary"/>
  </form>
  <br>
  <br>

  <table class="table table-hover">
  <tr>
    <th>Speaker</th>
    <th>Subject</th>
    <th>Venue</th>
    <th>Conference</th>
    <th>Year</th>
  </tr>
   <% @results_array.each do |sermon| %>
    <tr>
      <td><%= sermon.speaker %></td>
      <td><a href=<%= 'https://s3.amazonaws.com/pcic_sermons/' + URI::encode("#{sermon.file}")%>><%= sermon.subject %></a></td>
      <td><%= sermon.venue %></td>
      <td><%= sermon.conference %></td>
      <td><%= sermon.year %></td>
    </tr>
   <% end %>

  </table>
  </div>
 </body>
</html>
